

body {
    
    margin: 0;
    text-align: center;
    background-image: url(./img/125916.jpg);
    
}



h1 {
    
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-block-start: 10% !important;
    margin-block-end: 10px;
}

.game-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    background-image: url(./img/whosthatpokemon.png);
    background-position-x: center;
    background-repeat: no-repeat;
}

.game-option {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.game-option:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
}