body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
}

.game-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-option {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.game-option:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
}