body {

    margin: 0;
    text-align: center;
    background-image: url(../img/125916.jpg);
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;

}

.modal{
    height: 100vh;
}


h1 {

    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-block-start: 5% !important;
    margin-block-end: 10px;
}

button {
    font-family: 'Montserrat', sans-serif !important;
}

.game-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    background-image: url(../img/whosthatpokemon.png);
    background-position-x: center;
    background-repeat: no-repeat;
}

.game-option {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    margin-block-start: 80px;
}

.game-option:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

/* Styles pour la deuxième vue */


.pokeball {
    inline-size: 70px;
}

.player-selector {
    text-align: center;
    padding: 20px;
    text-align: -webkit-center;


}

.player-selector h1 {
    font-size: 24px;
    margin-block-end: 0px !important;
    margin-block-start: 15px !important;
}

.addTitre {
    margin-block-end: 0px !important;

}

input[type="text"] {
    padding: 10px;
    inline-size: 200px;
    margin-inline-end: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-align: center;
}

#playerAdd {
    padding: 10px;
    inline-size: 300px;
    margin-inline-end: 10px;
    margin-block-start: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);

}

.Gameboy {
    display: flex;
    justify-content: center;
    margin-block-start: 20px;
}

.caseJoueur input {
    border: none;
    padding: 10px;
    inline-size: 60%;
    margin-inline-end: 10px;
    border-radius: 0pX;
    -webkit-border-radius: 0pX;
    -moz-border-radius: 0pX;
    -ms-border-radius: 0pX;
    -o-border-radius: 0pX;
    box-shadow: none;
    text-align: center;
}

.caseJoueur {

    padding: 20px;
    inline-size: 250px;
    margin-inline-end: 30px;
    margin-block-end: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    display: flex;
}


.deletePlayer {
    border: none;
    background: none;
}

.fa-circle-user {
    font-size: 30px;
}

.fa-delete-left {
    color: #e40606 !important;
    transition: all 0.5s ease-out;
    font-size: 20px;

}

.fa-delete-left:hover {
    color: #8a0f1c !important;
    transition: all 0.5s ease-out;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);

}



.StartContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

#btnStart {
    padding: 10px;
    background-color: #0155ca;
    inline-size: 200px;
    color: white;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-inline-end: 25px;
}

#btnStart:hover {
    background-color: #013a8b;
    color: white;
    transition: all 0.5s ease-out;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);

}

#btnPlayerAdd {

    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;

}

#btnPlayerAdd:hover {
    background-color: rgb(7, 126, 29);
    color: white;
    transform: scale(1.05);
    transition: all 0.5s ease-out;
    box-shadow: 5px rgb(7, 126, 29);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#playerList {
    margin-block-start: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    inline-size: 80%;

}

#gameTitle {
    inline-size: 80%;
    border-style: solid;
    border-image: url(../img/cadre.png) 70 / 25px / 30px;
}

#btnBack {

    background-color: #028d1da9;
    inline-size: 150px;
    color: white;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-inline-end: 25px;
    margin-block-start: 25px;
    text-decoration: none;
}

#btnBack:hover {
    background-color: #06691aa9;
    color: white;
    transition: all 0.5s ease-out;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);

}

#btnBack a {
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 10px;
}

/* Styles pour la troisième vue */

.game-start {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ready {
    animation: pulsate-fwd .5s ease-in-out infinite both
}

@keyframes pulsate-fwd {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}



#btnGo {
    inline-size: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    margin-block-start: 10px;
    display: flex;
    justify-content: space-around;


}


#btnGo:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#btnGo:hover {
    animation: shake-top .8s cubic-bezier(.455, .03, .515, .955) both;
    -webkit-animation: shake-top .8s cubic-bezier(.455, .03, .515, .955) both;
}


@keyframes shake-top {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 50% 0
    }

    10% {
        transform: rotate(2deg)
    }

    20%, 40%, 60% {
        transform: rotate(-4deg)
    }

    30%, 50%, 70% {
        transform: rotate(4deg)
    }

    80% {
        transform: rotate(-2deg)
    }

    90% {
        transform: rotate(2deg)
    }
}

/* Styles pour la troisième vue */

.main-game {
    display: flex;
    justify-content: center;
    margin-block-start: 20px;
    flex-direction: column;
    align-items: center;
}

/* Styles pour la quatrième vue */

.results {
    display: flex;
    justify-content: center;
    margin-block-start: 20px;
    flex-direction: column;
    align-items: center;
}

#players_result {
    display: flex;
    flex-direction: row;

}

@media (max-width: 600px) {
    #players_result {
    flex-direction: column;

}
}

@media (max-width: 600px) {
    #players_result {
        flex-direction: column;
    }
}


.listeResult {
    padding: 20px;
    inline-size: 250px;
    margin-inline-end: 30px;
    margin-block-end: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    display: flex;
}

.listeResult:hover {
    background-color: #009c12;
    color: #fff;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    animation: heartbeat 1.5s ease-in-out infinite both;
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out
    }

    10% {
        transform: scale(.91);
        animation-timing-function: ease-in
    }

    17% {
        transform: scale(.98);
        animation-timing-function: ease-out
    }

    33% {
        transform: scale(.87);
        animation-timing-function: ease-in
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out
    }
}

#next {

    padding: 10px;
    background-color: #ca0101;
    inline-size: 200px;
    color: white;
    border: 2px solid #333;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-inline-end: 25px;
}

#next:hover {
    background-color: #8b0101;
    color: white;
    transition: all 0.5s ease-out;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);

}

/* vue résultat */

.game-end  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
  
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.sortedUsers {
    display: flex;
    flex-wrap: wrap;
}

.sortedUsers > div {
    flex: 1;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.pokemon_icon {
    max-width: 50px;
    height: auto;
}

#vainqueurDiv {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.winner {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

